<div class="song-container">
  <% @songs.each do |song| %>
    <div class='song'>
      <a href="songs/<%= song.id %>"><h3> <%= song.title %></> </h3> </a>
      <img class="index-img" src="<%= song.img_url %>" alt=<%= song.title %>>
      <h6>Artist: <%= song.artist %></h6>
      <h6>Genre: <%= song.genre %></h6>
      <h6>Release Year: <%= song.release_year %></h6>
    </div>
  <% end %>
</div>

