<h1>CREATE NEW MOVIE</h1>

<%# <form action="/movies" method="POST">
  <input type="text" name="title">
  <input type="text" name="director">
  <input type="text" name="genre">
  <input type="number" name="release_year">
  <input type="submit" value="CREATE MOVIE!!!">
</form> %>

<%= form_for @movie do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title %>

  <%= f.label :genre%>
  <%= f.text_field :genre %>

  <%= f.label :director%>
  <%= f.text_field :director %>

  <%= f.label :release_year%>
  <%= f.number_field :release_year %>

  <%= f.submit  %>
<% end %>