<%= form_for @review do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  
  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.label :user_id %>
  <%= f.collection_select :user_id, @users, :id, :name%>

  <%= f.label :movie_id %>
  <%= f.collection_select :movie_id, @movies, :id, :title %>

  <%= f.submit %>
<% end %>



<%# <select name="user_id" id="">
  User.all.each 
  <option value="id">show user</option>
</select> %>