  
<a href="/songs/<%= @song.id %>/edit"> EDIT <%= @song.title%></a>

<hr>

<h3>Title: <%= @song.title %></h3>
<marquee><img class='show-img' src="<%= @song.img_url %>" alt="<%=  @song.title%>"></marquee>

<h3>These are all my weirdos: </h3>
<ul>
  <% @song.stans.each do |stan| %>
    <li><%= stan.name %></li>
  <% end %> 
</ul>

<hr>

<form action="/songs/<%= @song.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete <%= @song.title %>">
</form>